- if is_mobile
  %h4
    Bookmarked Locations
-#
  TODO: filter: von mir kommentiert. alternativ: eigener tab dafür
  3 Arten:
  %ul
    %li
      mit poi - von mir kommentiert
    %li
      mit poi - ohne kommentar von mir
    %li
      ohne poi
%table{style: 'border-spacing: 5px;'}
  %tr
    %th
      Mediafile
    %th
      Last Bookmark
    %th
      Kommentiert
    -#%th
    -#  Addresse
