.modal
  .modal-dialog#system_message_panel
    .modal-body
      #system_message

.modal
  .modal-dialog#system_message_popup
    .modal-body
      #system_message_as_popup

= render partial: '/shared/system_dialog'