- if @_details.include? :username
  = form_tag set_user_detail_path(detail: :save_username), method: :post, remote: true do 
    = t('auth.whoami', username: text_field_tag(:username, '', class: 'whoami edit_detail')).html_safe
