#content_help{style: 'display: none;'}
  %p
    %h4 Marker
    Es gibt 2 Typen von Markern:
    %ul
      %li
        einen blauen Arbeits-Marker mit dem der Benutzer Punkte markiert die er bearbeiten möchte. Bei mouseover
        wird ein Werkzeug-Menu geöffnet.
      %li
        rote Marker kennzeichnen Points of Interest. Ein einfacher Klick öffnet das Informationsfenster des POIs.

    %h4 Einträge erstellen
    Entweder über einen Link im Werkzeug-Menu oder mit einem Doppelklick auf den Arbeits-Marker wird ein Eintrag erstellt. Ein Eintrag besteht aus einer Medien-Datei und einem Text. Andere Benutzer können einen Eintrag kommentieren, wobei dem Kommentar selbst auch wieder eine Datei angeheftet werden kann.
    
    %h4 Online / Offline
    Im Offline-Modus kann man sehen welche Karten-Kacheln bislang lokal gespeichert wurden.
