.modal
  .modal-dialog#upload_data_conrols
    .modal-header
      %h4.modal-title #{t('uploads.upload').html_safe}
    .modal-body
      #poi_note_input

= render partial: '/pois/form/tmpl', locals: {poi_note: PoiNote.new}
= render partial: '/shared/tmpl_poi_notes'

%iframe{id: "upload_target", src: csrf_path, name: "upload_target", style: "display:none;"}

.modal
  .modal-dialog#attachment_view_panel
