<!DOCTYPE html>
<html>
<head>
  <title>Comm</title>
  <%= stylesheet_link_tag    "comm/application", :media => "all" %>
  <%= javascript_include_tag "comm/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
